<!DOCTYPE html>
<html>
    <head>
        <title>Forgot Password</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='forgotpassword.css') }}">
      </head>
<body>
    <img src="{{url_for('static', filename='Baba.png')}}" align="right" alt="" height="500vh" width="500vh" /> 
    <div class="container">    
<h1>TastyTales</h1>
<h2>Find your Tasty Tales account</h2>
<h4>Enter the email associated with your account to change your password.</h4>

<form action="/forgotpasswordverify">
  <label for="email">Email</label><br>
  <input type="email" required><br>
  <button type="submit">Get OTP</button>
</form> 
</div>
</body>
</html>