<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
  </head>
  
<body>


  <body>
    <!-- <img align="right" src="Baba.png" alt="" height="250vh" width="500vh" /> -->
    <div class="profile">
      <img src="{{url_for('static', filename='ownuser.png')}}" alt height="100vh" width="100vh">
      <h5>Md. Majharul Islam</h5>
      <p>Food is love , and it is better than love if you think about it!
        Chef | Food Author & Enthusiast</p>
      <!-- <a href="#" id="edit-profile-button">Edit Profile</a>
      <a href="#" id="add-post-button">Add Post</a> -->
      <div class="inline">
        <a href="/edit_profile"><button type = "button" height = "10vh" class = "btn1"><strong>Edit Profile</strong></button></a>
        <a href="/AddPost"><button type = "button" height = "10vh" class = "btn2"><strong>Add Post</strong></button></a>

      </div>
      <h2>Recent Posts</h2>
      <div class="image-container">
        <img src="{{url_for('static', filename='image1.png')}}"  height="250vh" width="250vh" >
      </div>
      <div class="image-container">
        <img src="{{url_for('static', filename='image2.png')}}"  height="300vh" width="300vh" >
      </div>
      <div class="image-container">
        <img src="{{url_for('static', filename='image3.png')}}" height="220vh" width="250vh" >
      </div>
    </div>
  </body>
</body>
</html>

