<!DOCTYPE html>
<html>
<body>

<h1>TastyTales</h1>
<h2>Profile</h2>
<a href="/edit_profile"><button>Edit Profile</button></a>
<!-- <form action="/profile" method="POST"> -->
  <!-- action="/action_page.php"  data kaha bhejna hai uske liye hai ye
  <label for="fname" >Email</label><br>
  <input type="email" required><br>
  <label for="lname">Password</label><br>
  <input type="password" required><br><br>
  <input type="submit" value="Sign In">
</form> 
<p> <a href= "/forgotpassword">Forgot Password </a> </p>

<p>or continue with </p>
<p>Don't have an account? <a href= "/signup">Register for free </a> </p> -->


</body>
</html>

