<!DOCTYPE html>
<html>
<head>
  <title>Signup Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
    <script>  
        function matchPassword() {  
      var pw1 = document.getElementById("password").value;  
      var pw2 = document.getElementById("password-verify").value;
      console.log(pw1,pw2);
       if(pw1 != pw2)  
      {   
        alert("Passwords did not match"); 
        window.location.href = "/forgotpasswordverify"; 
      } else {  
        console.log("Me noob")
        location.href = "/";
        // REDIRECT DOES NOT WORK
      }  
    }  
        </script> 
        <!-- Add the image to html-->
        <img src="{{url_for('static', filename='Baba.png')}}" align="right" alt="" height="500vh" width="500vh" />  
    
  <div class="container">
    <h1>TastyTales</h1>
    <h2>Sign Up</h2>
    <form>
        <label for="fullname">Full Name</label>
      <input type="text" id="fullname" name="fullname" required>

      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="password-verify" name="password-verify" required>

     
            <div class="inline">
                <button type = "button" height = "10vh" class = "btn1"><strong>Professional</strong></button>
                <button type = "button" height = "10vh" class = "btn2"><strong>Home Cook</strong></button>
                <button type = "button" height = "10vh" class = "btn3"><strong>Foodie</strong></button>
              </div>
<br>

      <label for="text">Add a Short Bio</label>
      <input type="text" id="Bio" name="text" required>


      <button type="submit" onclick="matchPassword()"><strong>Sign Up</strong></button>
    </form>
  </div>
</body>
</html>


<!-- <!DOCTYPE html>
<html>
    <head>
    </head>
<body>

<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
        <h1>Tasty Tales</h1>
        <h2>Sign Up</h2>
        <hr>

        <label for="name"><b>Full Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" required><br>

        <label for="name"><b>User Name</b></label>
        <input type="text" placeholder="Enter User Name" name="name" required><br>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required><br>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required><br>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" required><br>

        <label for="text"><b>Add a Short Bio</b></label>
        <input type="text" placeholder="Introduce yourself...." name="text" required><br>

        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>

        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>
</body>
</html> -->