<!DOCTYPE html>
<html>
<head>
  <!-- <title>Signup Page</title> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='AddPost.css') }}">
</head>
{% for message in get_flashed_messages() %} 
<div class="flash-message">
    {{ message }}
  </div>
  {% endfor %}
  
<body>
        <!-- Add the image to html-->
        <img src="{{url_for('static', filename='Baba.png')}}" align="right" alt="" height="500vh" width="500vh" /> 
        <div class = "Drag">
            <img src="{{url_for('static', filename='DragPhotos.png')}}" align="left" alt="" height="250vh" width="350vh" /> </div>
    
         <p>Drag photos and videos here </p>

       <form method='POST' enctype="multipart/form-data">
        
        <!-- <label for="image">Image</label> -->
        <input type="file" id="image" name="image" required>
        <!-- <label for="comments">Comments</label> -->
        <textarea id="comments" name="comments" rows="5" required></textarea>
        <br>
        <button type="submit" ><strong>Submit</strong></button>
        <!-- <button type="submit"><a href="/profile">Submit</a></button> -->
    
    </form>
   
</body>
</html>